In [2]:
import os
import pandas as pd

In [3]:
df_path = "/data/seanchoi/airflow/data/SP500/sec/processed/dtm_0001045810.parquet"
df = pd.read_parquet(df_path, engine="pyarrow")
df.head()

,Date,_cik,_vol,_ret,_vol+1,_ret+1,false,share,pure,period,...,confirming,substitute,virtue,hereof,burgess,tench,persis,dawn,lora,neal
0,2025-02-26,0001045810,0.000576,0.009875,0.005003,-0.116534,6.0,118.0,1.0,79.0,...,1.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0

In [5]:
df_int_path = "/data/seanchoi/airflow/data/SP500/sec/intermediate/batch_0.parquet"
df_int = pd.read_parquet(df_int_path, engine="pyarrow")
df_int.head()

,Date,_cik,_vol,_ret,_vol+1,_ret+1,false,share,pure,period,...,confirming,substitute,virtue,hereof,burgess,tench,persis,dawn,lora,neal
0,2025-02-26,0001045810,NaN,-0.07864,0.005003,-0.116534,6.0,118.0,1.0,79.0,...,1.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0

In [4]:
df_2_path = "/data/seanchoi/airflow/data/SP500/sec/filtered/batch_filtered_0.parquet"
df_2 = pd.read_parquet(df_2_path, engine="pyarrow")
df_2.head()

,Date,_cik,_vol,_ret,_vol+1,_ret+1,false,share,pure,period,...,confirming,substitute,virtue,hereof,burgess,tench,persis,dawn,lora,neal
0,2025-02-26,0001045810,NaN,-0.07864,0.005003,-0.116534,6.0,118.0,1.0,79.0,...,1.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0

In [ ]:

def count_txt_files(folder_path):
    # List all files in the folder
    files = os.listdir(folder_path)
    
    # Filter files with .txt extension
    txt_files = [file for file in files if file.endswith(".txt")]
    
    # Return the count
    return len(txt_files)

# Example usage
afolder_path = "path_to_Afolder/afolder"  # Replace with the actual path
count = count_txt_files(afolder_path)
print(f"Number of .txt files in '{afolder_path}': {count}")